In [1]:
import pandas as pd
from ast import literal_eval

#### load raw parsed json html file

In [2]:
df=pd.read_csv('./new_golden.csv')
df.shape

(119819, 38)

#### remove null

In [6]:
df = df[~df['username'].isnull()]
df.shape

(108016, 38)

#### remove duplicates

In [15]:
df = df[~df['username'].duplicated()]

In [56]:
pd.options.display.max_columns=100
df.head(3)

,about.avatar,about.avatar_cdn,about.avatar_large,about.avatar_large_cdn,about.chosen_role,about.company,about.corporate,about.cover_image,about.display_name,about.hourly_rate,about.id,about.location,about.preferred_freelancer,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username
0,/ppic/1869150/logo/1018449/profile_logo_101844...,//cdn2.f-cdn.com/ppic/1869150/logo/1018449/pro...,/ppic/1869149/logo/1018449/profile-image-250.png,//cdn3.f-cdn.com/ppic/1869149/logo/1018449/pro...,2.0,itsol,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,techit99,60,1018449.0,"{u'administrative_area': None, u'city': u'Bris...",False,"{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,techit99,0.0,1.237934e+09,"March, 2009","{u'user_id': 1018449, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",techit99,Techit99,60.0,"[{u'award_date': u'2011', u'descr': u'Hootsuit...",[],[],"[{u'year_interval': u'-2011', u'month_interval...",[],True,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",0.0,1018449.0,techit99
1,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,1.0,Handmade Cards for Animal Charities,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,jung14,25,1344962.0,"{u'administrative_area': None, u'city': u'Penr...",False,"{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,jung14,0.0,1.262802e+09,"January, 2010","{u'user_id': 1344962, u'last3months': {u'compl...",0.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",jung14,Jung14,25.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'copywriting', u'...",0.0,1344962.0,jung14
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df.columns[-40:]

Index([u'about.avatar', u'about.avatar_cdn', u'about.avatar_large',
       u'about.avatar_large_cdn', u'about.chosen_role', u'about.company',
       u'about.corporate', u'about.cover_image', u'about.display_name',
       u'about.hourly_rate', u'about.id', u'about.location',
       u'about.preferred_freelancer', u'about.primary_currency',
       u'about.primary_language', u'about.profile_description',
       u'about.public_name', u'about.recommendations',
       u'about.registration_date', u'about.registration_date_human',
       u'about.reputation', u'about.role', u'about.status', u'about.tagline',
       u'about.timezone', u'about.username', u'about.username_sentence',
       u'hourlyRate', u'resume.certifications', u'resume.education',
       u'resume.exams', u'resume.experience', u'resume.publications',
       u'resume.show', u'skills', u'timeOffset', u'userId', u'username'],
      dtype='object')

#### memove fields with no value, e.g., profile pic link, profile duplicate ID, fields has 95% more all null values

In [60]:
df1 = df.drop(['about.avatar', u'about.avatar_cdn', u'about.avatar_large',
       u'about.avatar_large_cdn', u'about.cover_image', u'about.id',
                'about.corporate', 'about.preferred_freelancer', 
                ], axis=1)

In [61]:
df1['register_Month'] = df1['about.registration_date_human'].fillna('NoMn, NoYr').apply(lambda x: x.split(',')[0] )
df1['register_Year'] = df1['about.registration_date_human'].fillna('NoMn, NoYr').apply(lambda x: x.split(',')[1] )
df1['desc_len'] = df1['about.profile_description'].apply(lambda x: len(str(x).strip()))
# df1['about.location'] = df1['about.location'].fillna("")

In [62]:
df1['about.profile_description']=df1['about.profile_description'].apply(lambda x: str(x).strip())

In [63]:
# df2 = df1.drop(['about.registration_date_human','about.profile_description'], axis=1)
# df2.shape

In [64]:
def flatten_dict(data, layers=2, drop_deeper=True):

        for _ in range(layers):
            data = [(k, v) if not isinstance(v, dict) else [(k + '_' + k2, v2) for k2, v2 in v.items()] for k, v in
                    data.items()]
            data = [item for sublist in data for item in sublist if isinstance(sublist, list)] + [y for y in data if
                                                                                                  not isinstance(y,
                                                                                                                 list)]
            data = dict(data)

        if drop_deeper:
            data = {k: v for k, v in data.items() if not isinstance(v, dict) or isinstance(v, list)}

        return data
    
def mapping(x):
    if type(x)==str:
        
        try:
            tmp = flatten_dict(literal_eval(x))
        except:
            tmp=None
    else:
        tmp=x
    return tmp

def retrieve(field, df=df):
    one = df[field].apply(mapping)
    two = pd.DataFrame.from_dict(one.to_dict())
    three = two.transpose()
    return three

In [65]:
df2=df1.copy()

In [66]:
df2.head(1)

,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.location,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username,register_Month,register_Year,desc_len
0,2.0,itsol,techit99,60,"{u'administrative_area': None, u'city': u'Bris...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,nan,techit99,0.0,1.237934e+09,"March, 2009","{u'user_id': 1018449, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",techit99,Techit99,60.0,"[{u'award_date': u'2011', u'descr': u'Hootsuit...",[],[],"[{u'year_interval': u'-2011', u'month_interval...",[],True,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",0.0,1018449.0,techit99,March,2009,3

In [67]:
df2.shape

(119819, 33)

In [68]:
df2.columns[-30:]

Index([u'about.hourly_rate', u'about.location', u'about.primary_currency',
       u'about.primary_language', u'about.profile_description',
       u'about.public_name', u'about.recommendations',
       u'about.registration_date', u'about.registration_date_human',
       u'about.reputation', u'about.role', u'about.status', u'about.tagline',
       u'about.timezone', u'about.username', u'about.username_sentence',
       u'hourlyRate', u'resume.certifications', u'resume.education',
       u'resume.exams', u'resume.experience', u'resume.publications',
       u'resume.show', u'skills', u'timeOffset', u'userId', u'username',
       u'register_Month', u'register_Year', u'desc_len'],
      dtype='object')

### location

In [69]:
%%time
location = retrieve('about.location')
print location.shape

(119819, 22)
CPU times: user 25.1 s, sys: 192 ms, total: 25.2 s
Wall time: 25.2 s

In [70]:
location.columns=map(lambda x: str(x)+'_3',location.columns)

In [71]:
location.head()

,administrative_area_3,city_3,country_code_3,country_demonym_3,country_flag_class_3,country_flag_url_3,country_flag_url_cdn_3,country_highres_flag_url_3,country_highres_flag_url_cdn_3,country_iso3_3,country_language_code_3,country_language_id_3,country_name_3,country_person_3,country_phone_code_3,country_region_id_3,country_sanction_3,country_seo_url_3,full_address_3,latitude_3,longitude_3,vicinity_3
0,None,Bristol,gb,None,united-kingdom,/img/flags/png/gb.png,//cdn6.f-cdn.com/img/flags/png/gb.png,/img/flags/highres_png/united-kingdom.png,//cdn5.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United Kingdom,None,None,None,None,None,None,None,None,None
1,None,Penrith,gb,None,united-kingdom,/img/flags/png/gb.png,//cdn6.f-cdn.com/img/flags/png/gb.png,/img/flags/highres_png/united-kingdom.png,//cdn5.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United Kingdom,None,None,None,None,None,None,None,None,None
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,Nashik,in,None,india,/img/flags/png/in.png,//cdn2.f-cdn.com/img/flags/png/in.png,/img/flags/highres_png/india.png,//cdn3.f-cdn.com/img/flags/highres_png/india.png,None,None,None,India,None,None,None,None,None,None,None,None,None

### primary_currency

In [72]:
%%time
curr = retrieve('about.primary_currency')
print curr.shape

(119819, 6)
CPU times: user 11.6 s, sys: 14 ms, total: 11.6 s
Wall time: 11.6 s

In [73]:
curr.columns=map(lambda x: str(x)+'_2',curr.columns)

In [74]:
curr.head()

  code_2 country_2 exchange_rate_2 id_2     name_2 sign_2
0    USD        US               1    1  US Dollar      $
1    USD        US               1    1  US Dollar      $
2    NaN       NaN             NaN  NaN        NaN    NaN
3    NaN       NaN             NaN  NaN        NaN    NaN
4    USD        US               1    1  US Dollar      $

### reputation

In [75]:
%%time
repu = retrieve('about.reputation')
print repu.shape

(119819, 65)
CPU times: user 1min 8s, sys: 343 ms, total: 1min 9s
Wall time: 1min 9s

In [76]:
repu.columns=map(lambda x: str(x)+'_4',repu.columns)

In [77]:
repu.head()

,earnings_score_4,entire_history_all_4,entire_history_category_ratings_communication_4,entire_history_category_ratings_expertise_4,entire_history_category_ratings_hire_again_4,entire_history_category_ratings_professionalism_4,entire_history_category_ratings_quality_4,entire_history_complete_4,entire_history_completion_rate_4,entire_history_earnings_4,entire_history_incomplete_4,entire_history_incomplete_reviews_4,entire_history_on_budget_4,entire_history_on_time_4,entire_history_overall_4,entire_history_positive_4,entire_history_rehire_rate_4,entire_history_reviews_4,job_history_count_other_4,job_history_job_counts_4,last12months_all_4,last12months_category_ratings_communication_4,last12months_category_ratings_expertise_4,last12months_category_ratings_hire_again_4,last12months_category_ratings_professionalism_4,last12months_category_ratings_quality_4,last12months_complete_4,last12months_completion_rate_4,last12months_earnings_4,last12months_incomplete_4,last12months_incomplete_reviews_4,last12months_on_budget_4,last12months_on_time_4,last12months_overall_4,last12months_positive_4,last12months_rehire_rate_4,last12months_reviews_4,last3months_all_4,last3months_category_ratings_communication_4,last3months_category_ratings_expertise_4,last3months_category_ratings_hire_again_4,last3months_category_ratings_professionalism_4,last3months_category_ratings_quality_4,last3months_complete_4,last3months_completion_rate_4,last3months_earnings_4,last3months_incomplete_4,last3months_incomplete_reviews_4,last3months_on_budget_4,last3months_on_time_4,last3months_overall_4,last3months_positive_4,last3months_rehire_rate_4,last3months_reviews_4,project_stats_4,role_4,summary_completion_rate_4,summary_earnings_score_4,summary_earnings_score_pc_4,summary_on_budget_4,summary_on_time_4,summary_rating_score_4,summary_rehire_rate_4,summary_reviews_4,user_id_4
0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1018449
1,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1344962
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1557698

### status

In [78]:
%%time
stat = retrieve('about.status')
print stat.shape

(119819, 7)
CPU times: user 11.4 s, sys: 22 ms, total: 11.4 s
Wall time: 11.3 s

In [79]:
stat.head()

,deposit_made,email_verified,facebook_connected,identity_verified,payment_verified,phone_verified,profile_complete
0,True,True,False,False,False,False,True
1,False,True,False,False,False,False,True
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,True,False,False,False,False,True

### timezone

In [80]:
%%time
timezone = retrieve('about.timezone')
print timezone.shape

(119819, 4)
CPU times: user 10.3 s, sys: 22 ms, total: 10.3 s
Wall time: 10.3 s

In [81]:
timezone.columns=map(lambda x: str(x)+'_5',timezone.columns)

In [82]:
timezone.head()

  country_5 id_5 offset_5     timezone_5
0        UK  262        1  Europe/London
1        UK  262        1  Europe/London
2       NaN  NaN      NaN            NaN
3       NaN  NaN      NaN            NaN
4        IN  403      5.5   Asia/Kolkata

### list length

In [83]:
df2.head(1).iloc[:,-15:]

,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username,register_Month,register_Year,desc_len
0,Techit99,60.0,"[{u'award_date': u'2011', u'descr': u'Hootsuit...",[],[],"[{u'year_interval': u'-2011', u'month_interval...",[],True,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",0.0,1018449.0,techit99,March,2009,3

In [84]:
lists=[
'resume.certifications',
'resume.education',
'resume.exams',
'resume.experience',
'resume.publications',
'skills']

In [85]:
def helperLen(x):
    try:
        return len(literal_eval(x))
    except:
        return 0

In [86]:
%%time
for i in lists:
    df2[i+'_len']=df[i].apply(helperLen)

CPU times: user 36.1 s, sys: 53 ms, total: 36.1 s
Wall time: 36 s

In [87]:
# df3 = df2.drop(lists+['about.location','about.primary_currency','about.reputation','about.status','about.timezone'], axis=1)
# df3.shape

In [88]:
df3=df2.copy()

In [89]:
df3.head()

,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.location,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username,register_Month,register_Year,desc_len,resume.certifications_len,resume.education_len,resume.exams_len,resume.experience_len,resume.publications_len,skills_len
0,2.0,itsol,techit99,60,"{u'administrative_area': None, u'city': u'Bris...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,nan,techit99,0.0,1.237934e+09,"March, 2009","{u'user_id': 1018449, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",techit99,Techit99,60.0,"[{u'award_date': u'2011', u'descr': u'Hootsuit...",[],[],"[{u'year_interval': u'-2011', u'month_interval...",[],True,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",0.0,1018449.0,techit99,March,2009,3,1,0,0,1,0,15
1,1.0,Handmade Cards for Animal Charities,jung14,25,"{u'administrative_area': None, u'city': u'Penr...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,nan,jung14,0.0,1.262802e+09,"January, 2010","{u'user_id': 1344962, u'last3months': {u'compl...",0.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",jung14,Jung14,25.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'copywriting', u'...",0.0,1344962.0,jung14,January,2010,3,0,0,0,0,0,25
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NoMn,NoYr,3,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NoMn,NoYr,3,0,0,0,0,0,0
4,1.0,Amtech Software,PatilAmit813,10,"{u'administrative_area': None, u'city': u'Nash...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,nan,PatilAmit813,0.0,1.273486e+09,"May, 2010","{u'user_id': 1557698, u'last3months': {u'compl...",0.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'IN', u'offset': 5.5, u'id': 403...",PatilAmit813,PatilAmit813,10.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",330.0,1557698.0,patilamit813,May,2010,3,0,0,0,0,0,9

In [90]:
df7 = pd.concat([df3, location, curr, repu, stat, timezone], axis=1)
df7.shape

(119819, 143)

In [91]:
len(df7['userId'].unique())

105545

In [93]:
len(df7['user_id_4'].unique())

106515

In [92]:
len(df7['username'].unique())

105881

In [ ]:
len(df[])

In [48]:
list(df7.columns)

['username',
 'fname.gender',
 'username_split_predict',
 'last',
 'last_two',
 'first',
 'first2',
 'nchar',
 'vowels.pct',
 'digits.pct',
 'last_is_vowel',
 'first_is_vowel',
 'last_is_digit',
 'first_is_digit',
 'digits.num',
 'upper.pct',
 'first_is_upper',
 'feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10',
 'feature_11',
 'feature_12',
 'feature_13',
 'feature_14',
 'feature_15',
 'feature_16',
 'feature_17',
 'feature_18',
 'feature_19',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_25',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'feature_37',
 'feature_38',
 'feature_39',
 'feature_40',
 'feature_41',
 'feature_42',
 'feature_43',
 'feature_44',
 'feature_45',
 'feature_46',
 'feature_47',
 'feature_48',
 'feature_49',
 'feature_50',
 'feature_51',
 'feature_52',
 'feature_53',
 'feature_54',
 'feature_55',
 'feature_56',
 'feature_57',
 'feature_58',
 'feature_59',
 'feature_60',
 'feature_61',
 'feature_62',
 'feature_63',
 'feature_64',
 'feature_65',
 'feature_66',
 'feature_67',
 'feature_68',
 'feature_69',
 'feature_70',
 'feature_71',
 'feature_72',
 'feature_73',
 'feature_74',
 'feature_75',
 'feature_76',
 'feature_77',
 'feature_78',
 'feature_79',
 'feature_80',
 'feature_81',
 'feature_82',
 'feature_83',
 'feature_84',
 'feature_85',
 'feature_86',
 'feature_87',
 'feature_88',
 'feature_89',
 'feature_90',
 'feature_91',
 'feature_92',
 'feature_93',
 'feature_94',
 'feature_95',
 'feature_96',
 'feature_97',
 'feature_98',
 'feature_99',
 'feature_100',
 'feature_101',
 'feature_102',
 'feature_103',
 'feature_104',
 'feature_105',
 'feature_106',
 'feature_107',
 'feature_108',
 'feature_109',
 'feature_110',
 'feature_111',
 'feature_112',
 'feature_113',
 'feature_114',
 'feature_115',
 'feature_116',
 'feature_117',
 'feature_118',
 'feature_119',
 'feature_120',
 'feature_121',
 'feature_122',
 'feature_123',
 'feature_124',
 'feature_125',
 'feature_126',
 'feature_127',
 'feature_128',
 'feature_129',
 'feature_130',
 'feature_131',
 'feature_132',
 'feature_133',
 'feature_134',
 'feature_135',
 'feature_136',
 'feature_137',
 'feature_138',
 'feature_139',
 'feature_140',
 'feature_141',
 'feature_142',
 'feature_143',
 'feature_144',
 'feature_145',
 'feature_146',
 'feature_147',
 'feature_148',
 'feature_149',
 'feature_150',
 'feature_151',
 'feature_152',
 'feature_153',
 'feature_154',
 'feature_155',
 'feature_156',
 'feature_157',
 'feature_158',
 'feature_159',
 'feature_160',
 'feature_161',
 'feature_162',
 'feature_163',
 'feature_164',
 'feature_165',
 'feature_166',
 'feature_167',
 'feature_168',
 'feature_169',
 'feature_170',
 'feature_171',
 'feature_172',
 'feature_173',
 'feature_174',
 'feature_175',
 'feature_176',
 'feature_177',
 'feature_178',
 'feature_179',
 'feature_180',
 'feature_181',
 'feature_182',
 'feature_183',
 'feature_184',
 'feature_185',
 'feature_186',
 'feature_187',
 'feature_188',
 'feature_189',
 'feature_190',
 'feature_191',
 'feature_192',
 'feature_193',
 'feature_194',
 'feature_195',
 'feature_196',
 'feature_197',
 'feature_198',
 'feature_199',
 'feature_200',
 'feature_201',
 'feature_202',
 'feature_203',
 'feature_204',
 'feature_205',
 'feature_206',
 'feature_207',
 'feature_208',
 'feature_209',
 'feature_210',
 'feature_211',
 'feature_212',
 'feature_213',
 'feature_214',
 'feature_215',
 'feature_216',
 'feature_217',
 'feature_218',
 'feature_219',
 'feature_220',
 'feature_221',
 'feature_222',
 'feature_223',
 'feature_224',
 'feature_225',
 'feature_226',
 'feature_227',
 'feature_228',
 'feature_229',
 'feature_230',
 'feature_231',
 'feature_232',
 'feature_233',
 'feature_234',
 'feature_235',
 'feature_236',
 'feature_237',
 'feature_238',
 'feature_239',
 'feature_240',
 'feature_241',
 'feature_242',
 'feature_243',
 'feature_244',
 'feature_245',
 'feature_246',
 'feature_247',
 'feature_248',
 'feature_249',
 'feature_250',
 'feature_251',
 'feature_252',
 'feature_253',
 'feature_254',
 'feature_255',
 'feature_256',
 'feature_257',
 'feature_258',
 'feature_259',
 'feature_260',
 'feature_261',
 'feature_262',
 'feature_263',
 'feature_264',
 'feature_265',
 'feature_266',
 'feature_267',
 'feature_268',
 'feature_269',
 'feature_270',
 'feature_271',
 'feature_272',
 'feature_273',
 'feature_274',
 'feature_275',
 'feature_276',
 'feature_277',
 'feature_278',
 'feature_279',
 'feature_280',
 'feature_281',
 'feature_282',
 'feature_283',
 'feature_284',
 'feature_285',
 'feature_286',
 'feature_287',
 'feature_288',
 'feature_289',
 'feature_290',
 'feature_291',
 'feature_292',
 'feature_293',
 'feature_294',
 'feature_295',
 'feature_296',
 'feature_297',
 'feature_298',
 'feature_299',
 'feature_300',
 'feature_301',
 'feature_302',
 'feature_303',
 'feature_304',
 'feature_305',
 'feature_306',
 'feature_307',
 'feature_308',
 'feature_309',
 'feature_310',
 'feature_311',
 'feature_312',
 'feature_313',
 'feature_314',
 'feature_315',
 'feature_316',
 'feature_317',
 'feature_318',
 'feature_319',
 'feature_320',
 'feature_321',
 'feature_322',
 'feature_323',
 'feature_324',
 'feature_325',
 'feature_326',
 'feature_327',
 'feature_328',
 'feature_329',
 'feature_330',
 'feature_331',
 'feature_332',
 'feature_333',
 'feature_334',
 'feature_335',
 'feature_336',
 'feature_337',
 'feature_338',
 'feature_339',
 'feature_340',
 'feature_341',
 'feature_342',
 'feature_343',
 'feature_344',
 'feature_345',
 'feature_346',
 'feature_347',
 'feature_348',
 'feature_349',
 'feature_350',
 'feature_351',
 'feature_352',
 'feature_353',
 'feature_354',
 'feature_355',
 'feature_356',
 'feature_357',
 'feature_358',
 'feature_359',
 'feature_360',
 'feature_361',
 'feature_362',
 'feature_363',
 'feature_364',
 'feature_365',
 'feature_366',
 'feature_367',
 'feature_368',
 'feature_369',
 'feature_370',
 'feature_371',
 'feature_372',
 'feature_373',
 'feature_374',
 'feature_375',
 'feature_376',
 'feature_377',
 'feature_378',
 'feature_379',
 'feature_380',
 'feature_381',
 'feature_382',
 'feature_383',
 'feature_384',
 'feature_385',
 'feature_386',
 'feature_387',
 'feature_388',
 'feature_389',
 'feature_390',
 'feature_391',
 'feature_392',
 'feature_393',
 'feature_394',
 'feature_395',
 'feature_396',
 'feature_397',
 'feature_398',
 'feature_399',
 'feature_400',
 'feature_401',
 'feature_402',
 'feature_403',
 'feature_404',
 'feature_405',
 'feature_406',
 'feature_407',
 'feature_408',
 'feature_409',
 'feature_410',
 'feature_411',
 'feature_412',
 'feature_413',
 'feature_414',
 'feature_415',
 'feature_416',
 'feature_417',
 'feature_418',
 'feature_419',
 'feature_420',
 'feature_421',
 'feature_422',
 'feature_423',
 'feature_424',
 'feature_425',
 'feature_426',
 'feature_427',
 'feature_428',
 'feature_429',
 'feature_430',
 'feature_431',
 'feature_432',
 'feature_433',
 'feature_434',
 'feature_435',
 'feature_436',
 'feature_437',
 'feature_438',
 'feature_439',
 'feature_440',
 'feature_441',
 'feature_442',
 'feature_443',
 'feature_444',
 'feature_445',
 'feature_446',
 'feature_447',
 'feature_448',
 'feature_449',
 'feature_450',
 'feature_451',
 'feature_452',
 'feature_453',
 'feature_454',
 'feature_455',
 'feature_456',
 'feature_457',
 'feature_458',
 'feature_459',
 'feature_460',
 'feature_461',
 'feature_462',
 'feature_463',
 'feature_464',
 'feature_465',
 'feature_466',
 'feature_467',
 'feature_468',
 'feature_469',
 'feature_470',
 'feature_471',
 'feature_472',
 'feature_473',
 'feature_474',
 'feature_475',
 'feature_476',
 'feature_477',
 'feature_478',
 'feature_479',
 'feature_480',
 'feature_481',
 'feature_482',
 'feature_483',
 'feature_484',
 'feature_485',
 'feature_486',
 'feature_487',
 'feature_488',
 'feature_489',
 'feature_490',
 'feature_491',
 'feature_492',
 'feature_493',
 'feature_494',
 'feature_495',
 'feature_496',
 'feature_497',
 'feature_498',
 'feature_499',
 'feature_500',
 'feature_501',
 'feature_502',
 'feature_503',
 'feature_504',
 'feature_505',
 'feature_506',
 'feature_507',
 'feature_508',
 'feature_509',
 'feature_510',
 'feature_511',
 'feature_512',
 'feature_513',
 'feature_514',
 'feature_515',
 'feature_516',
 'feature_517',
 'feature_518',
 'feature_519',
 'feature_520',
 'feature_521',
 'feature_522',
 'feature_523',
 'feature_524',
 'feature_525',
 'feature_526',
 'feature_527',
 'feature_528',
 'feature_529',
 'feature_530',
 'feature_531',
 'feature_532',
 'feature_533',
 'feature_534',
 'feature_535',
 'feature_536',
 'feature_537',
 'feature_538',
 'feature_539',
 'feature_540',
 'feature_541',
 'feature_542',
 'feature_543',
 'feature_544',
 'feature_545',
 'feature_546',
 'feature_547',
 'feature_548',
 'feature_549',
 'feature_550',
 'feature_551',
 'feature_552',
 'feature_553',
 'feature_554',
 'feature_555',
 'feature_556',
 'feature_557',
 'feature_558',
 'feature_559',
 'feature_560',
 'feature_561',
 'feature_562',
 'feature_563',
 'feature_564',
 'feature_565',
 'feature_566',
 'feature_567',
 'feature_568',
 'feature_569',
 'feature_570',
 'feature_571',
 'feature_572',
 'feature_573',
 'feature_574',
 'feature_575',
 'feature_576',
 'feature_577',
 'feature_578',
 'feature_579',
 'feature_580',
 'feature_581',
 'feature_582',
 'feature_583',
 'feature_584',
 'feature_585',
 'feature_586',
 'feature_587',
 'feature_588',
 'feature_589',
 'feature_590',
 'feature_591',
 'feature_592',
 'feature_593',
 'feature_594',
 'feature_595',
 'feature_596',
 'feature_597',
 'feature_598',
 'feature_599',
 'feature_600',
 'feature_601',
 'feature_602',
 'feature_603',
 'feature_604',
 'feature_605',
 'feature_606',
 'feature_607',
 'feature_608',
 'feature_609',
 'feature_610',
 'feature_611',
 'feature_612',
 'feature_613',
 'feature_614',
 'feature_615',
 'feature_616',
 'feature_617',
 'feature_618',
 'feature_619',
 'feature_620',
 'feature_621',
 'feature_622',
 'feature_623',
 'feature_624',
 'feature_625',
 'feature_626',
 'feature_627',
 'feature_628',
 'feature_629',
 'feature_630',
 'feature_631',
 'feature_632',
 'feature_633',
 'feature_634',
 'feature_635',
 'feature_636',
 'feature_637',
 'feature_638',
 'feature_639',
 'feature_640',
 'feature_641',
 'feature_642',
 'feature_643',
 'feature_644',
 'feature_645',
 'feature_646',
 'feature_647',
 'feature_648',
 'feature_649',
 'feature_650',
 'feature_651',
 'feature_652',
 'feature_653',
 'feature_654',
 'feature_655',
 'feature_656',
 'feature_657',
 'feature_658',
 'feature_659',
 'feature_660',
 'feature_661',
 'feature_662',
 'feature_663',
 'feature_664',
 'feature_665',
 'feature_666',
 'feature_667',
 'feature_668',
 'feature_669',
 'feature_670',
 'feature_671',
 'feature_672',
 'feature_673',
 'feature_674',
 'feature_675',
 'feature_676',
 'feature_677',
 'feature_678',
 'feature_679',
 'feature_680',
 'feature_681',
 'feature_682',
 'feature_683',
 'feature_684',
 'feature_685',
 'feature_686',
 'feature_687',
 'feature_688',
 'feature_689',
 'feature_690',
 'feature_691',
 'feature_692',
 'feature_693',
 'feature_694',
 'feature_695',
 'feature_696',
 'feature_697',
 'feature_698',
 'feature_699',
 'feature_700',
 'feature_701',
 'feature_702',
 'feature_703',
 'feature_704',
 'feature_705',
 'feature_706',
 'feature_707',
 'feature_708',
 'feature_709',
 'feature_710',
 'feature_711',
 'feature_712',
 'feature_713',
 'feature_714',
 'feature_715',
 'feature_716',
 'feature_717',
 'feature_718',
 'feature_719',
 'feature_720',
 'feature_721',
 'feature_722',
 'feature_723',
 'feature_724',
 'feature_725',
 'feature_726',
 'feature_727',
 'feature_728',
 'feature_729',
 'feature_730',
 'about.chosen_role',
 'about.company',
 'about.display_name',
 'about.hourly_rate',
 'about.primary_language',
 'about.public_name',
 'about.recommendations',
 'about.registration_date',
 'about.role',
 'about.tagline',
 'about.username',
 'about.username_sentence',
 'hourlyRate',
 'resume.show',
 'timeOffset',
 'Month',
 'Year',
 'desc_len',
 'resume.certifications_len',
 'resume.education_len',
 'resume.exams_len',
 'resume.experience_len',
 'resume.publications_len',
 'skills_len',
 'administrative_area_3',
 'city_3',
 'country_code_3',
 'country_demonym_3',
 'country_flag_class_3',
 'country_flag_url_3',
 'country_flag_url_cdn_3',
 'country_highres_flag_url_3',
 'country_highres_flag_url_cdn_3',
 'country_iso3_3',
 'country_language_code_3',
 'country_language_id_3',
 'country_name_3',
 'country_person_3',
 'country_phone_code_3',
 'country_region_id_3',
 'country_sanction_3',
 'country_seo_url_3',
 'full_address_3',
 'latitude_3',
 'longitude_3',
 'vicinity_3',
 'code_2',
 'country_2',
 'exchange_rate_2',
 'id_2',
 'name_2',
 'sign_2',
 'earnings_score_4',
 'entire_history_all_4',
 'entire_history_category_ratings_communication_4',
 'entire_history_category_ratings_expertise_4',
 'entire_history_category_ratings_hire_again_4',
 'entire_history_category_ratings_professionalism_4',
 'entire_history_category_ratings_quality_4',
 'entire_history_complete_4',
 'entire_history_completion_rate_4',
 'entire_history_earnings_4',
 'entire_history_incomplete_4',
 'entire_history_incomplete_reviews_4',
 'entire_history_on_budget_4',
 'entire_history_on_time_4',
 'entire_history_overall_4',
 'entire_history_positive_4',
 'entire_history_rehire_rate_4',
 'entire_history_reviews_4',
 'job_history_count_other_4',
 'job_history_job_counts_4',
 'last12months_all_4',
 'last12months_category_ratings_communication_4',
 'last12months_category_ratings_expertise_4',
 'last12months_category_ratings_hire_again_4',
 'last12months_category_ratings_professionalism_4',
 'last12months_category_ratings_quality_4',
 'last12months_complete_4',
 'last12months_completion_rate_4',
 'last12months_earnings_4',
 'last12months_incomplete_4',
 'last12months_incomplete_reviews_4',
 'last12months_on_budget_4',
 'last12months_on_time_4',
 'last12months_overall_4',
 'last12months_positive_4',
 'last12months_rehire_rate_4',
 'last12months_reviews_4',
 'last3months_all_4',
 'last3months_category_ratings_communication_4',
 'last3months_category_ratings_expertise_4',
 'last3months_category_ratings_hire_again_4',
 'last3months_category_ratings_professionalism_4',
 'last3months_category_ratings_quality_4',
 'last3months_complete_4',
 'last3months_completion_rate_4',
 'last3months_earnings_4',
 'last3months_incomplete_4',
 'last3months_incomplete_reviews_4',
 'last3months_on_budget_4',
 'last3months_on_time_4',
 'last3months_overall_4',
 'last3months_positive_4',
 'last3months_rehire_rate_4',
 'last3months_reviews_4',
 'project_stats_4',
 'role_4',
 'summary_completion_rate_4',
 'summary_earnings_score_4',
 'summary_earnings_score_pc_4',
 'summary_on_budget_4',
 'summary_on_time_4',
 'summary_rating_score_4',
 'summary_rehire_rate_4',
 'summary_reviews_4',
 'user_id_4',
 u'deposit_made',
 u'email_verified',
 u'facebook_connected',
 u'identity_verified',
 u'payment_verified',
 u'phone_verified',
 u'profile_complete',
 'country_5',
 'id_5',
 'offset_5',
 'timezone_5']

In [95]:
df7= df7.drop('user_id_4', axis=1)

In [96]:
df7.shape

(119819, 142)

In [97]:
df7.to_csv('./goden_full_prepared3.csv',index=False, encoding='utf-8')

In [98]:
ttt=pd.read_csv('./goden_full_prepared3.csv')

/home/shj16110/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,91,92,93,94,95,96,97,98,101) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [100]:
ttt.shape

(119820, 142)

In [107]:
# ttt.head(1).transpose()[-200:-100]

In [58]:
len(df7['username'].unique())

32937

In [38]:
%%time
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

for i in range(5):
    i=str(i)
    exec("labelencoder_X_{} = LabelEncoder()".format(i))
    exec("X[:, {}] = labelencoder_X_{}.fit_transform(X[:, {}])".format(i,i,i))

XX=X.copy()

username                             object
fname.gender                         object
username_split_predict               object
last                                 object
last_two                             object
first                                object
first2                               object
nchar                                 int64
vowels.pct                          float64
digits.pct                          float64
last_is_vowel                          bool
first_is_vowel                         bool
last_is_digit                          bool
first_is_digit                         bool
digits.num                            int64
upper.pct                             int64
first_is_upper                         bool
feature_0                           float64
feature_1                           float64
feature_2                           float64
feature_3                           float64
feature_4                           float64
feature_5                           float64
feature_6                           float64
feature_7                           float64
feature_8                           float64
feature_9                           float64
feature_10                          float64
feature_11                          float64
feature_12                          float64
                                     ...
last3months_incomplete_4             object
last3months_incomplete_reviews_4     object
last3months_on_budget_4              object
last3months_on_time_4                object
last3months_overall_4                object
last3months_positive_4               object
last3months_rehire_rate_4            object
last3months_reviews_4                object
project_stats_4                      object
role_4                               object
summary_completion_rate_4            object
summary_earnings_score_4             object
summary_earnings_score_pc_4          object
summary_on_budget_4                  object
summary_on_time_4                    object
summary_rating_score_4               object
summary_rehire_rate_4                object
summary_reviews_4                    object
user_id_4                            object
deposit_made                         object
email_verified                       object
facebook_connected                   object
identity_verified                    object
payment_verified                     object
phone_verified                       object
profile_complete                     object
country_5                            object
id_5                                 object
offset_5                             object
timezone_5                           object
Length: 876, dtype: object