In [1]:
import cx_Oracle
db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

import pandas as pd
df=pd.read_csv('onlyLL.csv')
df.shape

11.2.0.2.0

(569274, 2)

In [2]:
df

          index                                  geo
0             1         38.981725, -77.0927566666667
1             2  39.1628883333333, -77.2290883333333
2             3         39.056975, -76.9546333333333
3             6  39.0933833333333, -77.0795516666667
4            10       39.2348434333333, -77.28153995
5            11  38.9827307333333, -77.1007551666667
6            12       39.06914295, -76.9696780666667
7            13             38.9835782, -77.09310515
8            14       39.1618098166667, -77.25358095
9            15            39.09619885, -76.98696215
10           16        39.1516659166667, -77.0706278
11           17  39.1299347666667, -77.1670501333333
12           19          39.2227933333333, -77.25369
13           21                 39.067535, -77.14941
14           23         39.048205, -76.9847216666667
15           24  39.1232416666667, -77.2329983333333
16           25         39.0306766666667, -77.005105
17           26  38.9992781833333, -77.0970100666667
18           28             38.9984182, -77.00384695
19           30         38.9830316666667, -77.092455
20           32         39.1621716666667, -77.214045
21           33         39.1131833333333, -77.235485
22           34  39.0699366666667, -77.0030916666667
23           35           38.9925, -77.0365133333333
24           39  38.9964879833333, -77.1093180333333
25           40  39.1718183333333, -77.2777933333333
26           41        39.0222590833333, -76.9782608
27           42        39.0984526333333, -77.2045743
28           43  39.0559105666667, -76.9579645166667
29           44  39.1492181833333, -77.0565918166667
...         ...                                  ...
569244  1163552  38.9948276166667, -77.0271672333333
569245  1163553  38.9943219666667, -77.0257477333333
569246  1163556        38.9942073, -77.0244050166667
569247  1163559       39.00928845, -77.0408493333333
569248  1163560  38.9977986333333, -77.0294249833333
569249  1163562        39.0362481166667, -77.0000659
569250  1163563  38.9880278833333, -77.0275187833333
569251  1163564             38.99769925, -77.0211731
569252  1163565          39.09102, -76.9999883333333
569253  1163567                  38.98076, -77.13437
569254  1163569  39.1591883333333, -77.2843683333333
569255  1163574  38.9895433333333, -77.1072383333333
569256  1163582         39.100155, -77.0504216666667
569257  1163584        39.0612438333333, -77.0523165
569258  1163585  39.0357983333333, -76.9886666666667
569259  1163586  39.1165143333333, -77.0997628833333
569260  1163587        39.0935139333333, -77.1322922
569261  1163590  39.0606033333333, -77.1549713833333
569262  1163591  39.0861886666667, -76.9534247333333
569263  1163593        39.0779107666667, -77.0701659
569264  1163594       39.04924395, -77.0518239333333
569265  1163596       39.15526325, -77.2151937833333
569266  1163597        39.1620661, -77.2240618666667
569267  1163598        39.1543231, -77.2097508333333
569268  1163599  39.1597281833333, -77.2022063666667
569269  1163600  39.1568459666667, -77.2029032166667
569270  1163601  39.1431373333333, -77.1586750333333
569271  1163602  39.1527700833333, -77.2202923833333
569272  1163603        39.0800610666667, -77.0743472
569273  1163604  39.0171391166667, -77.0063790833333

[569274 rows x 2 columns]

In [3]:
zp=pd.read_sql('select * from geo', db)
zp.shape

(569262, 3)

In [4]:
joind = df.set_index('index').join( zp.set_index('ID'),how='left')
joind.shape

(569274, 3)

In [5]:
joind.head()

,geo,GEO,ZIP
index,,,
1,"38.981725, -77.0927566666667","38.981725, -77.0927566666667",20815
2,"39.1628883333333, -77.2290883333333","39.1628883333333, -77.2290883333333",20899
3,"39.056975, -76.9546333333333","39.056975, -76.9546333333333",20704
6,"39.0933833333333, -77.0795516666667","39.0933833333333, -77.0795516666667",20853
10,"39.2348434333333, -77.28153995","39.2348434333333, -77.28153995",20871

In [6]:
joind[joind['ZIP'].isnull()]

                                         geo  GEO  ZIP
index
106222   -94.6109883333333, 38.8702933333333  NaN  NaN
183424           -72.51148, 41.5120733333333  NaN  NaN
516447   -75.0692383333333, 38.3731783333333  NaN  NaN
531497        -79.3016450833333, 38.25488745  NaN  NaN
531510   -78.2842922333333, 37.0383713333333  NaN  NaN
582026   -79.4048483333333, 39.6819383333333  NaN  NaN
601024           -71.2857083333333, 40.96603  NaN  NaN
601025                   -71.53712, 40.82432  NaN  NaN
614859   -77.3288633333333, 37.6535216666667  NaN  NaN
1138103         0.583333333333333, 39.064435  NaN  NaN
1140916   77.1871616666667, 39.1404083333333  NaN  NaN
1152192            4.5145, -77.2030633333333  NaN  NaN

In [7]:
index = joind[joind['ZIP'].isnull()].index
len(index)

12

In [10]:
list(index)

[106222,
 183424,
 516447,
 531497,
 531510,
 582026,
 601024,
 601025,
 614859,
 1138103,
 1140916,
 1152192]

In [8]:
for i in index:
    print i,','

106222 ,
183424 ,
516447 ,
531497 ,
531510 ,
582026 ,
601024 ,
601025 ,
614859 ,
1138103 ,
1140916 ,
1152192 ,