In [2]:
import pandas as pd

In [56]:
df=pd.read_csv('post_url.csv')
print df.shape

df2=df.iloc[2154:,:]

urls2 = zip(df['id'], df['post_url'])
len(urls2)

df2.head(3)

(210467, 10)

,id,post_url,note,program_id,user_id,user_name,date,pic_num,rating,program_url
2154,610001,http://www.soyoung.com/p10385273,0,cp1040,u7708427,田田蜜蜜,2016-12-21 17:30:10,2,100%,http://y.soyoung.com/cp1040
2155,610002,http://www.soyoung.com/p10355919,0,cp1040,u7707782,莎美人,2016-12-19 18:07:33,6,100%,http://y.soyoung.com/cp1040
2156,610003,http://www.soyoung.com/p9983977,0,cp1040,u1579509,izoe,2016-11-24 15:35:06,6,100%,http://y.soyoung.com/cp1040

In [59]:
df0=df[['id','post_url']]
df0.shape

(210467, 2)

In [63]:
past = df0.iloc[:2154]
past.shape

(2154, 2)

In [64]:
past.head(3)

       id                          post_url
0  607843  http://www.soyoung.com/p12360175
1  607844  http://www.soyoung.com/p10127503
2  607845   http://www.soyoung.com/p7615001

In [65]:
past.tail(3)

          id                          post_url
2151  609998  http://www.soyoung.com/p10398626
2152  609999  http://www.soyoung.com/p10398411
2153  610000  http://www.soyoung.com/p10397217

In [66]:
past.to_csv('60.csv', index=False)

In [8]:
df3.head(3)

          id                          post_url
2154  610001  http://www.soyoung.com/p10385273
2155  610002  http://www.soyoung.com/p10355919
2156  610003   http://www.soyoung.com/p9983977

In [16]:
df3.tail()

            id                         post_url
210462  856658  http://www.soyoung.com/p7588822
210463  856659  http://www.soyoung.com/p7541014
210464  856660  http://www.soyoung.com/p7299775
210465  856661  http://www.soyoung.com/p5680009
210466  856662  http://www.soyoung.com/p3447210

In [10]:
# splitting = [df3.iloc[i:i + 10000,:] for i in range(0, df3.shape[0], 10000)]
# len(splitting),type(splitting[0])

(21, pandas.core.frame.DataFrame)

## by ID

In [44]:
(df3.id>i*10000) & (df3.id<=i*10000+10000)

2154       True
2155       True
2156       True
2157       True
2158       True
2159       True
2160       True
2161       True
2162       True
2163       True
2164       True
2165       True
2166       True
2167       True
2168       True
2169       True
2170       True
2171       True
2172       True
2173       True
2174       True
2175       True
2176       True
2177       True
2178       True
2179       True
2180       True
2181       True
2182       True
2183       True
          ...
210437    False
210438    False
210439    False
210440    False
210441    False
210442    False
210443    False
210444    False
210445    False
210446    False
210447    False
210448    False
210449    False
210450    False
210451    False
210452    False
210453    False
210454    False
210455    False
210456    False
210457    False
210458    False
210459    False
210460    False
210461    False
210462    False
210463    False
210464    False
210465    False
210466    False
Name: id, Length: 208313, dtype: bool

In [48]:
splitting = [df3[(df3.id>i*10000) & (df3.id<=i*10000+10000)] for i in range(61,86)]
len(splitting),type(splitting[0])

(25, pandas.core.frame.DataFrame)

In [49]:
splitting[0]

           id                          post_url
2154   610001  http://www.soyoung.com/p10385273
2155   610002  http://www.soyoung.com/p10355919
2156   610003   http://www.soyoung.com/p9983977
2157   610004   http://www.soyoung.com/p9951537
2158   610005   http://www.soyoung.com/p9936145
2159   610006   http://www.soyoung.com/p9926306
2160   610007   http://www.soyoung.com/p9758421
2161   610008   http://www.soyoung.com/p9732465
2162   610009   http://www.soyoung.com/p9731415
2163   610010   http://www.soyoung.com/p9655937
2164   610011   http://www.soyoung.com/p9586120
2165   610012   http://www.soyoung.com/p9576159
2166   610013   http://www.soyoung.com/p9362563
2167   610014   http://www.soyoung.com/p9251522
2168   610015   http://www.soyoung.com/p9129961
2169   610016   http://www.soyoung.com/p9091862
2170   610017   http://www.soyoung.com/p8888086
2171   610018   http://www.soyoung.com/p8784093
2172   610019   http://www.soyoung.com/p8711370
2173   610020   http://www.soyoung.com/p8621795
2174   610021   http://www.soyoung.com/p8621121
2175   610022   http://www.soyoung.com/p8531629
2176   610023   http://www.soyoung.com/p8142121
2177   610024   http://www.soyoung.com/p6792602
2178   610025   http://www.soyoung.com/p6756074
2179   610026   http://www.soyoung.com/p6585525
2180   610027   http://www.soyoung.com/p6528532
2181   610028   http://www.soyoung.com/p6527056
2182   610029   http://www.soyoung.com/p6526949
2183   610030   http://www.soyoung.com/p6524465
...       ...                               ...
12080  619971   http://www.soyoung.com/p5176695
12081  619972   http://www.soyoung.com/p4594266
12082  619973   http://www.soyoung.com/p4536544
12083  619974   http://www.soyoung.com/p9818189
12084  619975   http://www.soyoung.com/p8298583
12085  619976   http://www.soyoung.com/p7387510
12086  619977   http://www.soyoung.com/p5735053
12087  619978   http://www.soyoung.com/p4862915
12088  619979   http://www.soyoung.com/p9447214
12089  619980   http://www.soyoung.com/p8507581
12090  619981   http://www.soyoung.com/p7787114
12091  619982   http://www.soyoung.com/p7717824
12092  619983   http://www.soyoung.com/p7468823
12093  619984   http://www.soyoung.com/p7426501
12094  619985   http://www.soyoung.com/p7369492
12095  619986   http://www.soyoung.com/p7340584
12096  619987   http://www.soyoung.com/p7324959
12097  619988   http://www.soyoung.com/p7297105
12098  619989   http://www.soyoung.com/p7267560
12099  619990   http://www.soyoung.com/p6423468
12100  619991   http://www.soyoung.com/p6386003
12101  619992   http://www.soyoung.com/p6284257
12102  619993   http://www.soyoung.com/p5954256
12103  619994   http://www.soyoung.com/p5941245
12104  619995   http://www.soyoung.com/p5460988
12105  619996  http://www.soyoung.com/p12251880
12106  619997  http://www.soyoung.com/p11958459
12107  619998   http://www.soyoung.com/p5459275
12108  619999   http://www.soyoung.com/p5444466
12109  620000  http://www.soyoung.com/p13102382

[9956 rows x 2 columns]

In [50]:
m=60

for i in splitting:
    m+=1
    i.to_csv(str(m)+'.csv', index=False)

In [51]:
sixone=pd.read_csv('61.csv')
print sixone.shape
sixone.head()

(9956, 2)

       id                          post_url
0  610001  http://www.soyoung.com/p10385273
1  610002  http://www.soyoung.com/p10355919
2  610003   http://www.soyoung.com/p9983977
3  610004   http://www.soyoung.com/p9951537
4  610005   http://www.soyoung.com/p9936145

In [52]:
sixone.tail()

          id                          post_url
9951  619996  http://www.soyoung.com/p12251880
9952  619997  http://www.soyoung.com/p11958459
9953  619998   http://www.soyoung.com/p5459275
9954  619999   http://www.soyoung.com/p5444466
9955  620000  http://www.soyoung.com/p13102382

In [53]:
eightthree=pd.read_csv('83.csv')
eightthree.shape

(1841, 2)

In [54]:
eightthree.head()

       id                          post_url
0  830003   http://www.soyoung.com/p7910501
1  830004   http://www.soyoung.com/p7889017
2  830015  http://www.soyoung.com/p13161517
3  830016  http://www.soyoung.com/p13146316
4  830039  http://www.soyoung.com/p11447146

In [55]:
eightthree.tail()

          id                          post_url
1836  839857  http://www.soyoung.com/p11745961
1837  839858  http://www.soyoung.com/p11637630
1838  839930  http://www.soyoung.com/p13162639
1839  839947  http://www.soyoung.com/p10694298
1840  839948  http://www.soyoung.com/p10666092